.home {
  background: radial-gradient(circle, rgb(93, 227, 232) 50%, rgb(43, 72, 73) 100%);
}

.container {
  background-image: url('../house_PNG44.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
}
