.houses-section {
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

.swiper {
  position: relative;
  width: 60%;
}

.swiper-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house-img {
  width: 200px;
  height: 200px;
  background-image: url('../house-png-199.png');
  background-size: cover;
  transition: transform 0.3s ease;
}

.house-img:hover {
  transform: scale(1.1);
}

.details {
  z-index: 3;
  text-align: center;
}

.circle {
  background-color: gray;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.swiper-pagination {
  width: 100px;
  height: 50px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.next {
  background-color: rgb(93, 227, 232);
  padding: 10px 20px 20px 40px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 10;
}

.prev {
  background-color: rgb(93, 227, 232);
  padding: 10px 40px 20px 20px;
  border-radius: 0 50px 50px 0;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 30vh;
  left: 0;
  z-index: 10;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 80%;
  margin: 10px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 195, 195);
  padding: 22px 0;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}

.boder-radius {
  width: 20px;
  height: 20px;
}

.square::before,
.square::after {
  content: '';
  position: absolute;
  background-color: rgb(195, 195, 195);
  width: 40px;
  height: 40px;
  right: 0px;
  top: 244px;
}

.square::after {
  border-radius: 0 25px 0 0;
  background-color: white;
  padding-left: 2px;
}

.reservation-slide {
  background-color: white;
  border-radius: 25px;
  border: none;
  margin: 5px 0;
}

.points {
  font-size: 20px;
  font-weight: 900;
}

.circle-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 30px;
  filter: invert(70%);
}

.circle-icon {
  width: 40px;
}

@media (max-width: 768px) {
  .prev,
  .next {
    display: none;
  }
}
