.houses-section {
  background-color: gainsboro;
  height: 100vh;
}

.swiper {
  position: relative;
  width: 60%;
}

.swiper-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house-img {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.circle {
  background-color: gray;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.swiper-pagination {
  width: 100px;
  height: 50px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.next {
  background-color: rgb(93, 227, 232);
  padding: 5px 20px 20px 20px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 10;
}

.prev {
  background-color: rgb(93, 227, 232);
  padding: 5px 20px 20px 20px;
  border-radius: 0 50px 50px 0;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 30vh;
  left: 0;
  z-index: 10;
  text-align: center;
}

@media (max-width: 768px) {
  .prev,
  .next {
    display: none;
  }
}
