.houses-section {
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

.swiper {
  position: relative;
  width: 60%;
}

.swiper-slide {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house-img {
  width: 200px;
  height: 200px;
  background-image: url('../house-png-199.png');
  background-size: cover;
  transition: transform 0.3s ease;
}

.house-img:hover {
  transform: scale(1.1);
}

.details {
  z-index: 3;
  text-align: center;
}

.circle {
  background-color: gray;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.swiper-pagination {
  width: 100px;
  height: 50px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.next {
  background-color: rgb(93, 227, 232);
  padding: 10px 20px 20px 40px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 10;
}

.prev {
  background-color: rgb(93, 227, 232);
  padding: 10px 40px 20px 20px;
  border-radius: 0 50px 50px 0;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 30vh;
  left: 0;
  z-index: 10;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  border-radius: 28px;
  font-family: Courier New, Courier, monospace;
  color: #2a2727;
  font-size: 13px;
  margin: 10px 0 35px 0;
  background: #f4f4f4;
  padding: 10px 37px 10px 37px;
  text-decoration: none;
  border: 1px solid #dce7ed;
  box-shadow: rgba(116, 114, 114, 0.2) 0 12px 38px 5px, rgba(123, 113, 113, 0.1) 0 0 4px 5px, rgba(215, 213, 213, 0.05) 0 0 0 1px inset;
}

.delete-btn:hover {
  background: #aec8d6;
  color: #fbfbfb;
  font-weight: bolder;
  text-decoration: none;
}

@media (max-width: 768px) {
  .prev,
  .next {
    display: none;
  }
}
