.add-house-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.8);
}

.add-house-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 7vh 0;
}

.add-house-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.input-house-name,
.input-house-address,
.input-house-description,
.input-house-price,
.input-house-image {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0.7); /* Input background color with transparency */
}

.input-house-name:focus,
.input-house-address:focus,
.input-house-description:focus,
.input-house-price:focus,
.input-house-image:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-house-button {
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #4caf50; /* Button background color */
}

.add-house-button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}
