.add-house-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.add-house-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.add-house-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

input[type='text'],
textarea,
input[type='number'] {
  padding: 10px;
  border: 1px solid #e0e0e0; /* Added border for input elements */
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

input[type='text']:focus,
textarea:focus,
input[type='number']:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  margin-top: 20px; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}